.loading {
    composes: fullWidth from 'sharedStyles/styles.css';
    height: 100%;
    background-color: #fafafa;
    position: absolute;
    display: flex;
    justify-content: center;
}

.spinner {
    border: 16px solid #fbe2e5;
    border-top: 16px solid #e0001b;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 20%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}