.qantasBtn {
    border: none;
    composes: fullWidth from 'sharedStyles/styles.css';
    composes: inputHeight from 'sharedStyles/styles.css';
    background-color: #e0001b;
    color: white;
    font-size: 16px;
}