html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: #5F5F5F;
    background-color: #fafafa;
}

.fullWidth {
    width: 100%;
}

.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    color: #5F5F5F;
    text-decoration: none;
    cursor: pointer;
}

img {
    /*border: 1px solid #ddd;*/
    /*border-radius: 4px;*/
    /*padding: 5px;*/
    background: grey;
}

.inputHeight {
    height: 42px;
}