.navBar{
    composes: fullWidth from 'sharedStyles/styles.css';
    height: 80px;
    background-color: #e0001b;
    display: flex;
}
.navBar a {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70px;
}